<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Nothing found for  Blog</title>
    <!-- style START -->
    <link rel="stylesheet" type="text/css" href="http://pystyle.com/public/home/css/404.css" />
{#    <link rel="stylesheet" type="text/css" href="http://pystyle.com/public/home/css/404.css" />#}
    <link rel="stylesheet" href="http://pystyle.com/public/home/css/wp-easyarchives.css" />
    <link href="http://pystyle.com/public/home/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="http://pystyle.com/public/home/css/site.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <div id="talker">
        <a href="#"><img src="http://pystyle.com/public/home/img/xiaohaidao.jpg" alt="大胡子" /></a>
        <img src="http://pystyle.com/public/home/img/404.jpg" width="auto" height="auto" />
    </div>
    <div id="notice">
{#        <h1>欢迎来到 404 页面</h1>#}
{#        <p>欢迎您的到来. 您会到达这个页面证明您刚刚点击了失效的链接. 当然, 也可能是我们搞错了... 但与其向您展示一个混乱的, 没有任何说明的 404 出错页面, 我们创建这个页面可以向您解释究竟出了些什么问题.</p>#}
{#        <p>您现在可以 (a) 点击浏览器上的 "返回" 按钮并尝试通过其他方式进入我们的页面, 或者 (b) 点击下方的链接转跳到网站的首页.</p>#}
        <div style="margin:0 auto;text-align: center">
            <h1>Page unavailable</h1>
            <p>Sorry, but the requested page is unavailable due to a server hiccup.
            </p>
            <p>Our engineers have been notified, so check back later.</p>
        </div>
        <div class="back" style="margin:0 auto;text-align: center">
            <a href="/appadmin/">回到lnmp博客首页 &raquo;</a>
        </div>
        <div class="fixed"></div>
    </div>
    <div class="fixed"></div>
</div>
{#    <footer class="footer">#}
{#        <div class="container">#}
{#            <p class="pull-left">&copy; LamnpBlog 2016</p>#}
{#            <p class="pull-right">Powered by <a href="http://py68.com:8000/appadmin/" rel="external">Lnmpblog</a></p>#}
{#        </div>#}
{#    </footer>#}
    <div style="width:auto;height:30px"></div>
</body>
</html>


