<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>500 Page Not Found</title>
</head>
<style>
    div {text-align:center; padding-top:50px;margin:0 auto;}
</style>
<body>
    <div>
        <img src="http://pystyle.com/home/img/404.jpg" width="auto" height="auto" />
    </div><br>
    <div style="margin:0 auto;text-align: center">
    <h1>Page unavailable</h1>
    <p>Sorry, but the requested page is unavailable due to a server hiccup.
    </p>
    <p>Our engineers have been notified, so check back later.</p>
    </div>
</body>
</html>